{% extends "members/hod/base_site.html" %}

{% block title %} Update Subject {% endblock title %}

{% block main %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Update Subject</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "hod-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Update Subject</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card border border-dark shadow">
                        <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                            Update Subject
                        </div>

                        <div class="card-body pt-4">

                            {% include "components/alert.html" %}

                            <form id="updateSubjectForm" class="row g-3" method="post">
                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="id" class="form-label">Subject ID</label>
                                    <input type="text" class="form-control" id="id" name="id" value="{{subject.id}}" disabled>
                                </div>

                                <div class="col-12">
                                    <label for="name" class="form-label">Subject Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{subject.name}}" required>
                                </div>

                                <div class="col-3">
                                    <label for="code" class="form-label">Subject Code</label>
                                    <input type="text" class="form-control" id="code" name="code" value="{{subject.code}}" required>
                                </div>

                                <div class="col-3">
                                    <label for="scheme" class="form-label">Scheme</label>
                                    <select id="scheme" class="form-select" name="scheme">
                                        <option {% if subject.scheme == 'K' %}selected{% endif %} value="K">K</option>
                                        <option {% if subject.scheme == 'I' %}selected{% endif %} value="I">I</option>
                                    </select>
                                </div>

                                <div class="col-6">
                                    <label for="semester" class="form-label">Semester</label>
                                    <select id="semester" class="form-select" name="semester">
                                        <option {% if subject.semester == 'Semester 1' %}selected{% endif %} value="Semester 1">Semester 1</option>
                                        <option {% if subject.semester == 'Semester 2' %}selected{% endif %} value="Semester 2">Semester 2</option>
                                        <option {% if subject.semester == 'Semester 3' %}selected{% endif %} value="Semester 3">Semester 3</option>
                                        <option {% if subject.semester == 'Semester 4' %}selected{% endif %} value="Semester 4">Semester 4</option>
                                        <option {% if subject.semester == 'Semester 5' %}selected{% endif %} value="Semester 5">Semester 5</option>
                                        <option {% if subject.semester == 'Semester 6' %}selected{% endif %} value="Semester 6">Semester 6</option>
                                    </select>
                                </div>

                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Save Subject</button>
                                    {% if referer != 'http://127.0.0.1:8000/hod/create/subject/' %}
                                        <a href="{{referer}}" class="btn btn-secondary">Back</a>
                                    {% else %}
                                        <a href="{% url "hod-index-view" %}" class="btn btn-secondary">Close</a>
                                    {% endif %}
                                </div>
                            </form>
            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock main %}