{% extends "members/teacher/base_site.html" %}

{% block title %} Update Question Set {% endblock title %}

{% block main %}
    <main id="main" class="main">
        
        <div class="pagetitle">
            <h1>Update Question Set</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "teacher-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Update Question Set</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="card border border-dark shadow">

                        <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                            Update {{question_set}} Details
                        </div>
                        
                        <div class="card-body pt-4">

                            {% include "components/alert.html" %}

                            <form id="updateQuestionSetForm" class="row g-3" method="post">
                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="id" class="form-label">ID</label>
                                    <input type="text" class="form-control" id="id" name="id" value="{{question_set.id}}" disabled>
                                </div>

                                <div class="col-12">
                                    <label for="subjectCode" class="form-label">Subject</label>
                                    <select id="subjectCode" class="form-select" name="code">
                                        {% for subject in subjects %}
                                        <option {% if question_set.subject == subject %} selected {% endif %} value="{{subject.code}}">{{subject}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-3">
                                    <label for="unit" class="form-label">Unit No</label>
                                    <input type="number" class="form-control" id="unit" placeholder="No." name="unit" min="1" value="{{question_set.unit}}" required>
                                </div>

                                <div class="col-9">
                                    <label for="unitTitle" class="form-label">Unit Title</label>
                                    <input type="text" class="form-control" id="unitTitle" name="unit_title" value="{{question_set.unit_title}}" required>
                                </div>

                                <div class="col-3">
                                    <label for="co" class="form-label">CO</label>
                                    <input type="number" class="form-control" id="co" placeholder="No." name="co" min="1" value="{{question_set.co}}" required>
                                </div>

                                <div class="col-9">
                                    <label for="coTitle" class="form-label">CO Title</label>
                                    <input type="text" class="form-control" id="coTitle" name="co_title" value="{{question_set.co_title}}" required>
                                </div>

                                <div class=" col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Save Question Set</button>

                                    <a href="{% url "update-questions-view" question_set.subject.id question_set.unit %}" class="btn btn-secondary">
                                        Back
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </form>
            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock main %}