{% extends "base.html" %}
{% load static %}

{% block content %}
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="" class="logo">
                <span class="d-none d-lg-block text-dark">
                    <i class="bi bi-question-square-fill"></i>
                    QUESTIONS DESK
                </span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2 fs-5">{{request.user.first_name}} {{request.user.last_name.0}}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                        <li class="dropdown-header">
                            <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url "admin-profile-view" %}">
                                <i class="bi bi-person"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url "logout-view" %}">
                                <i class="bi bi-power"></i>
                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </nav>

    </header>

    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item text-center mb-3">
                <span class="badge bg-primary w-100 fs-6 p-2">ADMIN PANEL</span>
            </li>
    
            <li class="nav-item">
                <a class="nav-link " href="{% url "admin-index-view" %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
    
            <li class="nav-heading">CREATE USER</li>
    
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url "admin-create-hod-view" %}">
                    <i class="bi bi-person-square"></i>
                    <span>Create HOD</span>
                </a>
            </li>
    
            <li class="nav-heading">LIST USERS</li>
    
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url "admin-list-users-view" 'HOD' %}">
                    <i class="bi bi-card-checklist"></i>
                    <span>List HOD</span>
                </a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url "admin-list-users-view" 'Teacher' %}">
                    <i class="bi bi-card-checklist"></i>
                    <span>List Teacher</span>
                </a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url "admin-list-users-view" 'Student' %}">
                    <i class="bi bi-card-checklist"></i>
                    <span>List Student</span>
                </a>
            </li>
    
        </ul>

    </aside>

    {% block main %}{% endblock main %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock content %}