{% extends "members/admin/base_site.html" %}

{% block title %} {{role}}'s List {% endblock title %}

{% block main %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>{{role}}'s List</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "admin-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">{{role}}'s List</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card border border-dark shadow">
                        <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                            {{role}} Profiles List
                        </div>

                        <div class="card-body pt-4">

                            {% include "components/alert.html" %}

                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th><b>F</b>ull Name</th>
                                        <th>Email</th>
                                        {% if role != "Student" %}
                                            <th>Phone Number</th>
                                            <th>Department</th>
                                            {% if role == 'Teacher' %}
                                                <th>Subject(s)</th>
                                            {% endif %}
                                        {% else %}
                                            <th>Institute</th>
                                        {% endif %}
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{user.id}}</td>
                                            <td>{{user.first_name}} {{user.last_name}}</td>
                                            <td>{{user.email}}</td>
                                            {% if role != "Student" %}
                                                <td>{{user.profile.phone_number}}</td>
                                                <td>{{user.profile.department}}</td>
                                                {% if role == 'Teacher' %}
                                                    <td>
                                                        {% for obj in user.profile.subjects.all %}
                                                            {{obj.name}}
                                                        {% endfor %}
                                                    </td>
                                                {% endif %}
                                            {% else %}
                                                <td>{{user.institute}}</td>
                                            {% endif %}
                                            <td>
                                                {% if role == 'HOD' %}
                                                    <a href="{% url "admin-update-hod-view" user.id %}" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                                                {% endif %}
                                                
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#verticalycentered{{user.id}}">
                                                    <i class="bi bi-trash"></i>
                                                </button>

                                                <div class="modal fade" id="verticalycentered{{user.id}}" tabindex="-1">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-primary text-light fw-bold">
                                                                <h5 class="modal-title">Delete {{role}} Confirmation</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>

                                                            <div class="modal-body text-center">
                                                                Are sure you want to delete <br>
                                                                <strong>{{user.first_name}} {{user.last_name}}</strong> ?
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <a href="{% url "members-delete-user-view" user.id %}" class="btn btn-danger">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock main %}
