{% extends "members/teacher/base_site.html" %}

{% block title %} Update Question's {% endblock title %}


{% block main %}

    <main id="main" class="main">
        
        <div class="pagetitle">
            <h1>Update Question's</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "teacher-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Update Question's</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-12">

                    <div class="card border border-dark shadow">

                        <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                            Update {{question_set}} Question's
                        </div>

                        <div class="card-body">

                            <h5 class="card-title mb-3 pb-1 d-flex justify-content-between">
                                {{question_set.subject}}
                                <span>{{question_set.subject.semester}}</span>
                            </h5>

                            <div class="mb-3">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <span class="fw-semibold">Unit No ({{question_set.unit}})</span>
                                    </div>
                                    <div class="col-10">
                                        <p class="card-text">: {{question_set.unit_title}}</p>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col">
                                        <span class="fw-semibold">CO ({{question_set.co}})</span>
                                    </div>
                                    <div class="col-10">
                                        <p class="card-text">: {{question_set.co_title}}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row g-3 justify-content-between align-items-center mb-4">
                                <div class="col-3">
                                    <select id="unit-dropdown" class="form-select" name="number">
                                        {% for unit in units %}
                                            <option {% if current_unit is unit %} selected {% endif %} value="{{unit}}">Unit : {{unit}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col text-end">
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Options
                                        </button>

                                        <ul class="dropdown-menu bg-tertiary-subtle border border-dark shadow">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="{% url "update-question-set-view" question_set.id %}">
                                                    <i class="bi bi-info-square-fill text-primary"></i>
                                                    <span>Update Info</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="{% url "list-questions-view" question_set.id %}">
                                                    <i class="bi bi-card-checklist text-success"></i>
                                                    <span>Detail View</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="{% url "delete-question-set-view" question_set.subject.id question_set.unit %}">
                                                    <i class="bi bi-trash-fill text-danger"></i>
                                                    <span>Delete Set</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            {% include "components/alert.html" %}

                            <form id="updateQuestionForm" method="post">
                                {% csrf_token %}

                                <input type="hidden" id="subjectId" value="{{question_set.subject.id}}">
                                <input type="hidden" id="currentUnit" value="{{current_unit}}">
                                <input type="hidden" name="id" id="id" value="{{question_set.id}}">                                

                                <div id="questionContainer">
                                    {% for question in questions %}
                                        <div class="row align-items-end mb-3 questionRow">

                                            <input type="hidden" class="form-control" name="existing_question_id[]" value="{{question.id}}">
                                            
                                            <div class="col-6">
                                                <label for="QuestionTitle" class="form-label">({{ forloop.counter }}) Question Title</label>
                                                <input type="text" class="form-control" name="existing_question_title[]" value="{{question.title}}" required>
                                            </div>
                                
                                            <div class="col-2">
                                                <label for="mark" class="form-label">Mark</label>
                                                <input type="number" min="1" class="form-control" name="existing_mark[]" value="{{question.mark}}" required>
                                            </div>
                                
                                            <div class="col-3">
                                                <label for="levels" class="form-label">Levels</label>
                                                <input type="text" class="form-control" name="existing_level[]" value="{{question.levels}}" readonly required style="overflow-x: scroll; white-space: nowrap; text-overflow: ellipsis;">
                                            </div>

                                            <div class="col-1">
                                                <button type="button" class="btn btn-transparent btn-sm text-end" data-bs-toggle="modal" data-bs-target="#verticalycentered({{ forloop.counter }})">
                                                    <i class="bi bi-trash3" style="cursor: pointer; color: red;"></i>
                                                </button>
                                                
                                                <div class="modal fade" id="verticalycentered({{ forloop.counter }})" tabindex="-1">
                                                    <div class="modal-dialog modal-dialog-centered">

                                                        <div class="modal-content">
                                                            <div class="modal-header bg-primary text-light fw-bold">
                                                                <h5 class="modal-title">Delete Question Confirmation</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>

                                                            <div class="modal-body text-center">
                                                                Confirm you want to delete <br> 
                                                                Question ({{forloop.counter}}) ?
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" value='({{ forloop.counter }})' class="btn btn-danger removeRow">Delete</button>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>

                                <div id="addQuestionRow" class="col d-flex gap-1 align-items-center" style="max-width: max-content;">
                                    <span class="fw-medium">ADD QUESTION</span>
                                    <i class="bi bi-plus-square-fill fs-5"></i>
                                </div>

                                <div class=" col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Save Question(s)</button>
                                    <a href="{% url "list-question-sets-view" %}" class="btn btn-secondary">Close</a>
                                </div>
                            </form>
            
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>

    </main>
    
{% endblock main %}